<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Addcollection</title>
  <!-- Bootstrap core CSS-->
  <link href="./resource/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="./resource/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="./resource/css/sb-admin.css" rel="stylesheet">
  <script src="./resource/ckeditor/ckeditor.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="./showhome">CYLSTORM</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="./showhome">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="./addthings">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">新增資料</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="./showthings">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">資料</span>
          </a>
        </li>
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li> -->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
				<a href="./showhome">hello</a>
				</li>
				<li class="breadcrumb-item active">home</li>
			</ol>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
						新增資料
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-6">
									<form role="form"  method="POST" id="postdata" >
										<div class="form-group">
											<label>選擇主題 :</label>
											<select class="form-control" id="topicbox" name="topicflag">
											</select>
											<input type="hidden"  id="topicname" value="no"/>
											<div class="form-group" style="margin-top:15px;" id="addtopic">
												<label>新增主題 :</label>
												<textarea class="form-control"  id="collection_tag_new" name="collection_tag_new"></textarea>
											</div>
											<div class="form-group" style="margin-top:15px;">
												<label>名稱 :</label>
												<textarea class="form-control"  rows="5" id="collection_name" name="collection_name"></textarea>
											</div>
											<div class="form-group" style="margin-top:15px;">
												<label>輸入要記錄的資料 :</label>
												<textarea class="form-control" rows="3"  id="collection_content" name="collection_content"></textarea>
											</div>
										</div>
										<button type="submit" class="btn btn-info" style="float:right;">加入</button>
									</form>
								</div>
								<!-- <div class="col-lg-6"> -->
									<!-- <form name = 'form' action = '#' method='post'> -->
										<!-- <textarea name="content" id="content" rows="10" cols="80"></textarea> -->
										<!-- <input type = 'button' value = '送出' onclick = 'processData()'> -->
									<!-- </form>	 -->
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
		  <div class="container">
			<div class="text-center">
			  <small>Copyright © CYLSTORM 2017</small>
			</div>
		  </div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		  <i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">確定登出了嗎!!! 不在留一下嗎~</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="./logout">Logout</a>
				</div>
			</div>
		  </div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="./resource/vendor/jquery/jquery.min.js"></script>
		<script src="./resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="./resource/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="./resource/js/sb-admin.min.js"></script>
	</div>
	<script type="text/JavaScript">
		//CKEDITOR.replace( 'content', {});
		//CKEDITOR.replace( 'collection_name', {height: 50});
		CKEDITOR.replace( 'collection_content', {});
		//CKEDITOR.replace( 'collection_tag_new', {height: 50});
		function processData(){
		   // getting data
		   var data = CKEDITOR.instances.content.getData();
		   alert(data);
		}
		
		var b;
		$.ajax({
			type : "POST",
			url : "collection/getcollectiontag",
			dataType : "text",
			data : {},
			success : function(res){
				var a=atob(res);
				a=JSON.parse(a);
				b=a;
				//<option value="+b+">"+res[i]['course_Name']+"</option>;
				var option="<option value=0><新增主題...></option>";
				<!-- for(var key in a){ -->
					<!-- var num=key+1; -->
					<!-- option=option+"<option value="+num+">"+a[key]+"</option>" -->
				<!-- } -->
				a.forEach(function(item,index,a){
					var num=index+1;
					option=option+"<option value="+num+">"+item+"</option>"
				});
				document.getElementById("topicbox").innerHTML=option;
				//alert(option);
			},
			error : function(jqXHR){
				alert("發生錯誤 : "+jqXHR.status);
			}
		});
		
		$('#topicbox').change(function(){
			var selecteditem = $('#topicbox').val();
			var num=parseInt(selecteditem)-1;
			if(selecteditem!=0){
				document.getElementById("topicname").value=b[num];
				document.getElementById("addtopic").style.display='none';
			}
			else{
				document.getElementById("topicname").value='no';
				document.getElementById("addtopic").style.display='block';
			}
		});
		var jj;
		$(document).ready(function(){
			$('#postdata').submit(function(e){
				
				e.preventDefault();
				//alert('123');
				if(document.getElementById("collection_name").value!=""&&CKEDITOR.instances['collection_content'].getData()!=""){
					$.ajax({
					type : "POST",
					url : "collection/storecollection",
					dataType : "json",
					data : {
						topicflag : $("#topicbox").val(),
						topicname :	document.getElementById("topicname").value,
						collection_name :	document.getElementById("collection_name").value,
						collection_content : CKEDITOR.instances['collection_content'].getData(),
						collection_tag_new : document.getElementById("collection_tag_new").value,
					},
					success : function(res){
						if(res==true){
							alert('成功加入!!');
						}
						document.getElementById("collection_name").value='';
						document.getElementById("collection_content").value='';
						document.getElementById("collection_tag_new").value='';
						CKEDITOR.instances['collection_content'].setData("");//清空textarea
						return renew();
					},
					error : function(jqXHR){
						alert("發生錯誤 : "+jqXHR.status);
					}
				});
				}else{
					alert('請填完欄位喔!!');
				}
				
				//var value1 = CKEDITOR.instances['collection_content'].editable().getText();
				//var value1 = CKEDITOR.instances['collection_content'].getData();
				//alert(value1);
				
				
					
					
			});
		});
		
		
		function renew(){
			$.ajax({
				type : "POST",
				url : "collection/getcollectiontag",
				dataType : "text",
				data : {},
				success : function(res){
					var a=atob(res);
					a=JSON.parse(a);
					b=a;
					var option="<option value=0><新增主題...></option>";
					a.forEach(function(item,index,a){
						var num=index+1;
						option=option+"<option value="+num+">"+item+"</option>"
					});
					document.getElementById("topicbox").innerHTML=option;
				},
				error : function(jqXHR){
					alert("發生錯誤 : "+jqXHR.status);
				}
			});
		};
	</script>
</body>

</html>
