<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>showcollection</title>
  <!-- Bootstrap core CSS-->
  <link href="./resource/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="./resource/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="./resource/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="./resource/dist/themes/default/style.min.css" />
  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="./showhome">CYLSTORM</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="./showhome">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="./addthings">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">新增資料</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="./showthings">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">資料</span>
          </a>
        </li>
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li> -->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
				<a href="./showhome">hello</a>
				</li>
				<li class="breadcrumb-item active">home</li>
			</ol>
			
			
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
						紀錄之資料
						</div>
						<div class="card-body">
							<div class="row"  style="margin-left: 12px;margin-top: 12px;">
								<div class="col-6">
									<div id="accordio" role="tablist" aria-multiselectable="true">
										<div class="card" id="cardbox">
											<div class="card-header " role="tab" id="headingOne">
												<h5 class="mb-2">
													<a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
													PHP
													</a>
												</h5>
											</div>

											<div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingOne">
												<div class="card-body">
													<div class="item">
														<a data-toggle="collapse" data-parent="#headingOne" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1" onmousedown="getcontent(this.innerHTML);">
														Toggle item
														</a>
														<div id="exampleAccordion1" class="collapse" role="tabpanel" >
															<p class="mb-3" id="test" >
															123
															</p>
														</div>
													</div>
													<div class="item">
														<a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
														Toggle item 2
														</a>
														<div id="exampleAccordion2" class="collapse" role="tabpanel">
															<p class="mb-3">
															555
															</p>
														</div>
													</div>
												</div>
											</div>
											
											<div class="card-header " role="tab" id="heading2">
												<h5 class="mb-2">
													<a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">
													PHP
													</a>
												</h5>
											</div>

											<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
		  <div class="container">
			<div class="text-center">
			  <small>Copyright © CYLSTORM 2017</small>
			</div>
		  </div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		  <i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		  </div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="./resource/vendor/jquery/jquery.min.js"></script>
		<script src="./resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="./resource/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="./resource/js/sb-admin.min.js"></script>
		<script src="./resource/dist/jstree.min.js"></script>
	</div>
	<script type="text/JavaScript">
		<!-- function getcontent(x){ -->
			<!-- //var target = event.target || event.srcElement; -->
			<!-- //alert ( target.innerHTML );  -->
			
			<!-- alert(x); -->
			<!-- //alert(123); -->
			<!-- document.getElementById('test').innerHTML=x; -->
		<!-- }; -->
	
	
	
		var b;
		$.ajax({
			type : "POST",
			url : "collection/getcollectiontag",
			dataType : "text",
			data : {},
			success : function(res){
				var a=atob(res);
				a=JSON.parse(a);
				b=a;
				//<option value="+b+">"+res[i]['course_Name']+"</option>;
				var option="";
				<!-- for(var key in a){ -->
					<!-- var num=key+1; -->
					<!-- option=option+"<option value="+num+">"+a[key]+"</option>" -->
				<!-- } -->
				a.forEach(function(item,index,a){
					var num=index;
					<!-- '<div class="card-header " role="tab" id="heading'+變數+'"><h5 class="mb-2"><a data-toggle="collapse" href="#collapse'+變數+'" aria-expanded="true" aria-controls="collapse'+變數+'">'+主題+'</a></h5></div> -->
<!-- '<div id="collapse'+變數+'" class="collapse" role="tabpanel" aria-labelledby="heading'+變數+'"><div class="card-body"></div></div>' -->
					option=option+'<div class="card-header " role="tab" id="heading'+num+'"><h5 class="mb-2"><a data-toggle="collapse" href="#collapse'+num+'" aria-expanded="true" aria-controls="collapse'+num+'">'+item+'</a></h5></div><div id="collapse'+num+'" class="collapse" role="tabpanel" aria-labelledby="heading'+num+'"><div class="card-body"></div></div>';

				});
				document.getElementById("cardbox").innerHTML=option;
				//alert(option);
			},
			error : function(jqXHR){
				alert("發生錯誤 : "+jqXHR.status);
			}
		});
		
		$('#topicbox').change(function(){
			var selecteditem = $('#topicbox').val();
			var num = parseInt(selecteditem)-1;
			
			
		});
		var jj;
		$(document).ready(function(){
			$('#postdata').submit(function(e){

				e.preventDefault();
				$.ajax({
					type : "POST",
					url : "collection/storecollection",
					dataType : "json",
					data : {
						topicflag : $("#topicbox").val(),
						topicname :	document.getElementById("topicname").value,
						collection_name :	document.getElementById("collection_name").value,
						collection_content : document.getElementById("collection_content").value,
						collection_tag_new : document.getElementById("collection_tag_new").value,
					},
					success : function(res){
						alert(res);
						return renew();
					},
					error : function(jqXHR){
						alert("發生錯誤 : "+jqXHR.status);
					}
				});
					
					
			});
		});
		
		
		function renew(){
			$.ajax({
				type : "POST",
				url : "collection/getcollectiontag",
				dataType : "text",
				data : {},
				success : function(res){
					var a=atob(res);
					a=JSON.parse(a);
					b=a;
					var option="<option value=0><新增主題...></option>";
					a.forEach(function(item,index,a){
						var num=index+1;
						option=option+"<option value="+num+">"+item+"</option>"
					});
					document.getElementById("topicbox").innerHTML=option;
				},
				error : function(jqXHR){
					alert("發生錯誤 : "+jqXHR.status);
				}
			});
		};
	</script>
</body>

</html>
