<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>showcollection</title>
  <!-- Bootstrap core CSS-->
  <link href="./resource/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="./resource/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="./resource/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="./resource/dist/themes/default/style.min.css" />
  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="./showhome">CYLSTORM</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="./showhome">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="./addthings">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">新增資料</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="./showthings">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">資料</span>
          </a>
        </li>
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li> -->
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
				<a href="./showhome">hello</a>
				</li>
				<li class="breadcrumb-item active">home</li>
			</ol>
			
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
						紀錄之資料
						</div>
						<div class="card-body">
							<div id="showbutton" class="row"  style="margin-left: 12px;margin-top: 12px; display:none;" >
								<div class="col-md-12">
									<button id="button_show"type="button" class="btn btn-info btn-lg btn-block" >顯示表單</button>
								</div>
							</div>
							<div class="row"  style="margin-left: 12px;margin-top: 12px;">
								<div id ="showtree" class="col-md-2">
									<div id="jstree1" style="width:200px;background:#FFDEDE;"></div>
									<!-- <div id="accordio" role="tablist" aria-multiselectable="true"> -->
										<!-- <div class="card" id="cardbox"> -->
											<!-- <div class="card-header " role="tab" id="headingOne"> -->
												<!-- <h5 class="mb-2"> -->
													<!-- <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1"> -->
													<!-- PHP -->
													<!-- </a> -->
												<!-- </h5> -->
											<!-- </div> -->

											<!-- <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="headingOne"> -->
												<!-- <div class="card-body"> -->
													<!-- <div id="SimpleJSTree"></div> -->
													<!-- <div class="item"> -->
														<!-- <a data-toggle="collapse" data-parent="#headingOne" href="#exampleAccordion1" aria-expanded="false" aria-controls="exampleAccordion1" onmousedown="getcontent(this.innerHTML);"> -->
														<!-- Toggle item -->
														<!-- </a> -->
														<!-- <div id="exampleAccordion1" class="collapse" role="tabpanel" > -->
															<!-- <p class="mb-3" id="test" > -->
															<!-- 123 -->
															<!-- </p> -->
														<!-- </div> -->
													<!-- </div> -->
													<!-- <div class="item"> -->
														<!-- <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2"> -->
														<!-- Toggle item 2 -->
														<!-- </a> -->
														<!-- <div id="exampleAccordion2" class="collapse" role="tabpanel"> -->
															<!-- <p class="mb-3"> -->
															<!-- 555 -->
															<!-- </p> -->
														<!-- </div> -->
													<!-- </div> -->
												<!-- </div> -->
											<!-- </div> -->
											
											<!-- <div class="card-header " role="tab" id="heading2"> -->
												<!-- <h5 class="mb-2"> -->
													<!-- <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapseOne"> -->
													<!-- PHP -->
													<!-- </a> -->
												<!-- </h5> -->
											<!-- </div> -->

											<!-- <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"> -->
												
											<!-- </div> -->
											
										<!-- </div> -->
									<!-- </div> -->
								</div>
								<div class="col-md-2" id="showtopic" style="display:none;">
									<div class="alert alert-info" id="showtopic_in" role="alert">
										
									</div>
								</div>
								<input type="hidden" id="showtreeactive" value="0">
								<div class="col-md-8">
									<textarea class="form-control"  id="collection_get" name="collection_get"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
		  <div class="container">
			<div class="text-center">
			  <small>Copyright © CYLSTORM 2017</small>
			</div>
		  </div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		  <i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">確定登出了嗎!!! 不在留一下嗎~</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="./logout">Logout</a>
				</div>
			</div>
		  </div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="./resource/vendor/jquery/jquery.min.js"></script>
		<script src="./resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="./resource/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="./resource/js/sb-admin.min.js"></script>
		<script src="./resource/dist/jstree.min.js"></script>
		<script src="./resource/ckeditor/ckeditor.js"></script>
	</div>
	<script type="text/JavaScript">
		<!-- function getcontent(x){ -->
			<!-- //var target = event.target || event.srcElement; -->
			<!-- //alert ( target.innerHTML );  -->
			
			<!-- alert(x); -->
			<!-- //alert(123); -->
			<!-- document.getElementById('test').innerHTML=x; -->
		<!-- }; -->
		CKEDITOR.replace( 'collection_get', {height: 300 });
	
		var id_num=-1;//計算id 到第幾
		var b;
		var jj;
		var checkarray=[];
		$.ajax({
			type : "POST",
			url : "collection/getcollectiontag",
			dataType : "text",
			data : {},
			success : function(res){
				var a=atob(res);
				a=JSON.parse(a);
				//b=a;
				var option="";
				function Papatree(id,parent,text) {
					this.id = id;
					this.parent = parent;
					this.text = text;
				}
				//var papatreeObject = new Papatree(20,"",58);
				var arrayList=[];
				//alert(jj);
				a.forEach(function(item,index,a){
					index = index.toString();
					checkarray.push(0);
					id_num++;
					//alert(index);
					var papatreeObject = new Papatree(index,"#",item);
					//option=option+'<div class="card-header " role="tab" id="heading'+num+'"><h5 class="mb-2"><a data-toggle="collapse" href="#collapse'+num+'" aria-expanded="true" aria-controls="collapse'+num+'">'+item+'</a></h5></div><div id="collapse'+num+'" class="collapse" role="tabpanel" aria-labelledby="heading'+num+'"><div class="card-body"></div></div>';
					arrayList.push(papatreeObject);
				});
				b=JSON.stringify(arrayList);
				//alert(jj);
				//jj=JSON.parse(jj);
				//alert(jj);
				$('#jstree1').jstree({  
                "core":{  
                    "data":arrayList,//放array
					"themes" : {  
                        "variant" : "large",//加大  
                        "ellipsis" : true //文字多時省略  
                    },  
                    "check_callback" : true  
                },  
                "plugins" : [ "wholerow","themes"]  
				});
				
			},
			error : function(jqXHR){
				alert("發生錯誤 : "+jqXHR.status);
			}
		});
		var testi;
		$(function(){//prevent repeatedly get data 0:代表未按 1:代表按過 2:代表是child 呼叫拿紀錄的東西
			$('#jstree1').on('select_node.jstree',function(event,data){
				//var cc=JSON.stringify(data.node);
				//alert(cc);
				if(checkarray[data.node['id']]==0){
					checkarray[data.node['id']]=1;
					$.ajax({
						type : "POST",
						url : "collection/getnameofcollection",
						dataType : "text",
						data : {
							tag : data.node['text'],
						},
						success : function(res){
							var a=atob(res);
							//alert(a);
							if(a!='FALSE'){
								a=JSON.parse(a);
								function Papatree(id,parent,text) {
									this.id = id;
									this.parent = parent;
									this.text = text;
								}
								//var temp=JSON.parse(b);
								var arrayList=[];
								var temp=JSON.parse(b);
								a.forEach(function(item,index,a){
									//index = index.toString();
									checkarray.push(2);
									id_num++;
									//alert(id_num);
									<!-- alert(data.node['text']); -->
									<!-- var papatreeObject = new Papatree(id_num,data.node['id'],item); -->
									<!-- temp.push(papatreeObject); -->
									//arrayList.push(papatreeObject);
									
									$('#jstree1').jstree().create_node(data.node['id'], {
										"id": id_num,
										"text": item,
									}, 
									"last", function() {
										//alert("Child created");
									}	
									);
									
								});
							}
							else{
								alert('沒東西,請新增');
							}
							
							
							
						},
						error : function(jqXHR){
							alert("發生錯誤 : "+jqXHR.status);
						}
						
					});
				}
				else if(checkarray[data.node['id']]==2){
					
					//loMainSelected=$('#tree').jstree('get_selected').attr('id')
					//alert(data.node['id']);
					//alert(data.instance.get_node(data.node.parent).text);
					$.ajax({
						type : "POST",
						url : "collection/getcollection",
						dataType : "json",
						data : {
							tag : data.instance.get_node(data.node.parent).text,
							coname :	data.node['text'],
						},
						success : function(res){
							if(res!=false){
								CKEDITOR.instances['collection_get'].setData(res);
								document.getElementById("showtree").style.display='none';
								document.getElementById("showbutton").style.display='block';
								document.getElementById("showtopic").style.display='block';
								document.getElementById("showtopic_in").innerHTML=data.node['text'];
								document.getElementById("button_show").innerHTML='顯示表單';
							}else{
								alert('沒有東西喔');
							}
						},
						error : function(jqXHR){
							alert("發生錯誤 : "+jqXHR.status);
						}
					});
				}
				
				
				//alert(data.node['text']);
			})
		});
		
		
		
		$('#showbutton').click(function(){
			if(document.getElementById("showtreeactive").value==0){//0代表目前樹是關的
				document.getElementById("showtree").style.display='block';
				document.getElementById("showtreeactive").value=1;
				document.getElementById("button_show").innerHTML='隱藏表單';
			}else{
				document.getElementById("showtree").style.display='none';
				document.getElementById("showtreeactive").value=0;
				document.getElementById("button_show").innerHTML='顯示表單';
			}
		});
		var jj;
		$(document).ready(function(){
			$('#postdata').submit(function(e){

				e.preventDefault();
				$.ajax({
					type : "POST",
					url : "collection/storecollection",
					dataType : "json",
					data : {
						topicflag : $("#topicbox").val(),
						topicname :	document.getElementById("topicname").value,
						collection_name :	document.getElementById("collection_name").value,
						collection_content : document.getElementById("collection_content").value,
						collection_tag_new : document.getElementById("collection_tag_new").value,
					},
					success : function(res){
						alert(res);
						return renew();
					},
					error : function(jqXHR){
						alert("發生錯誤 : "+jqXHR.status);
					}
				});
					
					
			});
		});
		
		
		function renew(){
			$.ajax({
				type : "POST",
				url : "collection/getcollectiontag",
				dataType : "text",
				data : {},
				success : function(res){
					var a=atob(res);
					a=JSON.parse(a);
					b=a;
					var option="<option value=0><新增主題...></option>";
					a.forEach(function(item,index,a){
						var num=index+1;
						option=option+"<option value="+num+">"+item+"</option>"
					});
					document.getElementById("topicbox").innerHTML=option;
				},
				error : function(jqXHR){
					alert("發生錯誤 : "+jqXHR.status);
				}
			});
		};
	</script>
</body>

</html>
